h1 {
    color: blue;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: brown;
}

form {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    width: 30%;
    border: 1px gray solid;
    border-radius: 2%;
    text-align: left;
}

label {
    margin: 10px;
    display: block;
    font-size: x-large;
}

input {
    margin: 10px;
    display: inline-block;
    font-size: x-large;
}

.centered {
    text-align: center;
}

button {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: large;
    border: 2px solid black;
    border-radius: 8%;
}

ul {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    width: 20%;
    text-align: left;
    font-size: x-large;
}