<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Practice</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Session Practice</h1>
    <section class="centered">
        <form action="/" method="POST">
            <label>New List Item: <input type="text" name="new_item" required/></label>
            <section class="centered">
                <button value="add" name="button">Add Item</button>
            </section>
        </form>
    </section>
    <hr>
    <section class="centered">
        <h2>List Items:</h2>
        <ul>
            {% for item in session['list_name'] %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>>
    </section>
</body>
</html>